* { 
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
    color: black;
}

header a {
    text-decoration: none;
    color: white;
}

main a{
    text-decoration: none;
    color: black;
}



footer a{ 
    text-decoration: none;
    color: black;
}
#container {
                height: auto;
                width: 100%;
                font-family: Helvetica, sans-serif;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 40px;
                min-width: 280px;  
            }

header {
            width: 91%;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            background-color: #2580c3;
            flex-wrap: wrap;
            max-width: 980px;
            min-width: 220px;  
        }
.img-header {
    width: 20%;
    padding-inline-start: 40px;
    min-width: 220px;
}

.container-nav{
    width: 75%;
    flex-wrap: wrap;
    padding-inline-end: 40px;
    min-width: 190px;    
}
nav ul {   display: flex;
       flex-wrap: wrap;
       min-width: 200px;
       justify-content: space-between;
       padding-inline-end: 40px; 
}

nav ul li{
    list-style: none;
    column-gap: 5em;  
}



.out-box {
    background-color: #1c2537;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 91%;
        height: auto;
        max-width: 980px;
        min-width: 220px;
        justify-content: center;
        padding-right: 4opx;
        padding-left: 40px;
        padding-bottom: 40px;
        color: white;

}

h1 {
    text-align: center;
    overflow-wrap: break-word;
    color: white;
}

h2{
    text-align: left;
    overflow-wrap: break-word;
    color: white;
}

.form-box{
    background-color: #25dd85;
    width: 70%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black ;
    align-self: center;

    
}

.box-persona{
    padding-left: 40px;
    display: block;
    flex-wrap: wrap;
    
}
.nombre-mail-persona{
    display: flex;
    min-width: 86px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nombre-persona{
    width: 45%;
    
    min-width: 100px;
}

.mail-persona{
    width: 45%;
   
    min-width: 100px;
}

.mascota-1{
    width: 45%;
    
    min-width: 100px;
   
}

.mascota-2{
    width: 45%;
    
    min-width: 100px;
 
}

form{
    width: 100%;
    justify-content: space-between;
}


.box-mascota{
    padding-inline-start: 40px;
    padding-left: 40px;
    justify-content: space-around;
    display: block;
    flex-wrap: wrap;
    

}
.mascota-1-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mascota-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.comentario{
    display: block;
    width: 45%;
    min-width: 50px;

    
}
.dieta-actual{
    width: 45%;
    min-width: 50px;

}

select{
    min-width: 50px;
}


footer {
    background-color: #e0e0e0;
        margin: 0 auto;
        display: flex;
        width: 91%;
        flex-wrap: wrap;
        max-width: 980px;
        min-width: 220px;
        justify-content: center;
}

footer li{
    font-size: x-small;
}

footer ul{
    font-size: smaller;
}
p{
    font-size: small;
}
.botones{
    text-align: center;
    padding-bottom: 40px;
}

.box-mascota input{
   width: 50%;
}

.box-persona input {
    width: 50%;
}



