* { 
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: darkblue;
}
#container {
                height: auto;
                width: 100%;
                font-family: Helvetica, sans-serif;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 40px;
                min-width: 280px;  
            }

header {
            width: 91%;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            background-color: #9ac4dc;
            flex-wrap: wrap;
            max-width: 980px;
            min-width: 220px;  
        }
.img-header {
    width: 20%;
    padding-inline-start: 40px;
    min-width: 220px;
}

.container-nav{
    width: 75%;
    flex-wrap: wrap;
    padding-inline-end: 40px;
    min-width: 190px;    
}
nav ul {   display: flex;
       flex-wrap: wrap;
       min-width: 200px;
       justify-content: space-between;
       padding-inline-end: 40px; 
}

nav ul li{
    list-style: none;
    column-gap: 5em;  
}



.out-box {
    background-color: #ec96bb;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 91%;
        height: auto;
        max-width: 980px;
        min-width: 220px;
        justify-content: center;
        padding-right: 4opx;
        padding-left: 40px;
        padding-bottom: 40px;

}

h1 {
    text-align: center;
}

h2{
    text-align: left;
}

.form-box{
    background-color: #9ac4dc;
    width: 70%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black ;
    align-self: center;
    
}

.box-persona{
    padding-left: 40px;
    display: block;
    
}
.nombre-mail-persona{
    display: flex;
    justify-content: space-between;
}

.nombre-persona{
    width: 45%;
}

.mail-persona{
    width: 45%;
}

.mascota-1{
    width: 45%;
}

.mascota-2{
    width: 45%;
}

form{
    width: 100%;
    justify-content: space-between;
}


.box-mascota{
    padding-inline-start: 40px;
    padding-left: 40px;
    justify-content: space-around;
    display: block;
    

}
.mascota-1-2{
    display: flex;
    justify-content: space-between;
}

.mascota-3 {
    display: flex;
    justify-content: space-between;
}



.comentario{
    display: block;
    width: 45%;
    
}
.dieta-actual{
    width: 45%;
}


footer {
    background-color: #fe4533;;
        margin: 0 auto;
        display: flex;
        width: 91%;
        flex-wrap: wrap;
        max-width: 980px;
        min-width: 220px;
        justify-content: center;
}

footer li{
    font-size: x-small;
}

footer ul{
    font-size: smaller;
}
p{
    font-size: small;
}
.botones{
    text-align: center;
    padding-bottom: 40px;
}






